// Base text
body{
    font-family: $f-body;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: $c-2;
    font-size: 16px;
    line-height: 1.25;

    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga", "kern";
}




// Standard Links
a{
    color: currentColor;
    text-decoration: none;
    &:hover{
        color: currentColor;
    }
}




// Base Headings
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    line-height: 1;
    font-family: $f-headings;
    font-weight: 400;
}

h1{ font-size: $f-5; }
h2{ font-size: $f-5; }
h3{ font-size: $f-4; }
h4{ font-size: $f-3; }
h5{ font-size: $f-3; }
h6{ font-size: $f-3; }


sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }



hr{
    height: 0px;
    border: none;
}


blockquote{
    margin-left: 0;
    margin-right: 0;
};
