/**
 * Variables
 */

// Colours
$c-white: #fff;
$c-black: rgb(37, 37, 37);
$c-2: $c-black;
$c-3: $c-black;
$c-4: $c-black;
$c-5: $c-black;
$c-6: $c-black;

$c-highlight: rgb(255, 235, 1);
$c-grey: rgb(168, 168, 168);

// Type
$f-body: Helvetica, sans-serif;
$f-headings: $f-body;

$f-1: 12px;
$f-2: 14px;
$f-3: 16px;
$f-4: 24px;
$f-5: 36px;
$f-6: 42px;

// Sizing
$s-1: 10px;
$s-2: 20px;
$s-3: 30px;
$s-4: 60px;
$s-5: 100px;
$s-6: 200px;

$p-1: $s-1;
$p-2: $s-2;
$p-3: $s-3;
$p-4: $s-4;
$p-5: $s-5;
$p-6: $s-6;

$b-1: 500px;
$b-2: 768px;
$b-3: 992px;
$b-4: 1000px;
$b-5: 1200px;

$z-below: -1;
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
