.g{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -$s-1;
    margin-top: -$s-2;

    @include breakpoint($b-1){
        margin-left: -$s-2;
        margin-top: -$s-2;
    }


    &--vc{
        align-items: center;
    }
}

    .gi{
        padding-left: $s-1;
        padding-top: $s-2;

        @include breakpoint($b-1){
            padding-left: $s-2;
            padding-top: $s-2;
        }

        width: 100%;
        margin-bottom: 0;

        &--one-half{
            width: 50%;

            &\@sm{ @include breakpoint($b-1){ width: 50%; } }
            &\@md{ @include breakpoint($b-2){ width: 50%; } }
            &\@lg{ @include breakpoint($b-3){ width: 50%; } }
        }

        &--one-third{
            width: 33.33%;

            &\@sm{ @include breakpoint($b-1){ width: 33.33%; } }
            &\@md{ @include breakpoint($b-2){ width: 33.33%; } }
            &\@lg{ @include breakpoint($b-3){ width: 33.33%; } }
        }

        &--one-quarter{
            width: 25%;

            &\@sm{ @include breakpoint($b-1){ width: 25%; } }
            &\@md{ @include breakpoint($b-2){ width: 25%; } }
            &\@lg{ @include breakpoint($b-3){ width: 25%; } }
        }

        &--three-quarters{
            width: 75%;

            &\@sm{ @include breakpoint($b-1){ width: 75%; } }
            &\@md{ @include breakpoint($b-2){ width: 75%; } }
            &\@lg{ @include breakpoint($b-3){ width: 75%; } }
        }
    }

// Helper for the styleguide
.g-show{
    padding: $p-3;
    background: $c-black;
    color: $c-white;
    text-align: center;
    overflow: hidden;
}
