.wrapper{
    max-width: 1020px;
    margin: 0 auto;
    padding-left: $p-1;
    padding-right: $p-1;

    @include breakpoint($b-1){
        padding-left: $p-2;
        padding-right: $p-2;
    }

    &--tight{
        padding: 0;
    }
}
