.box{
    padding: $p-2;

    &--tight{
        padding: $p-1;
    }

    &--dark{
        background: $c-black;
        color: $c-white;
    }

    &--centered{
        text-align: center;
    }

    &--right{
        text-align: right;
        &\@sm{ @include breakpoint($b-1){ text-align: right } }
    }
}
