.btn{
    padding: $p-1 $p-3;
    background: $c-highlight;
    color: $c-black;
    margin: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;

    &--dark{
        background: $c-black;
        color: $c-white;
    }

    &--link{
        background: transparent;
        border-bottom: 2px solid;
        padding: 0;
    }
}
