.link-list{

    &--on-dark{
        color: $c-white;
    }

    &__link{
        font-weight: bold;

        &:not(:last-child){
            margin-right: $s-1;
        }
    }

    &--block{
        .link-list__link{
            display: block;

            &:not(:last-child){
                margin-right: 0;
                margin-bottom: $s-1;
            }
        }
    }
}
